body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  li.move-info {
      list-style: none;
  }

  p {
    margin: auto;
  }

  button.move-to-button {
      margin: 4px;
      border-radius: 6px; 
      width: 185px;
      text-align: left;
  }

  button.sort-button {
      display: block;
      margin: 10px auto;
  }

  .move-info {
      height: 35px;
      display: inline-flex;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(167, 167, 167);
    border: 6px solid rgb(110, 104, 104);
    float: left;
    font-size: 100px;
    font-weight: normal;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
  }

  .winning-square {
    background: rgb(50, 199, 87);
    border: 6px solid rgb(104, 110, 104);
    float: left;
    font-size: 100px;
    font-weight: normal;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  
  .square:focus {
    outline: none;
  }

  .winning-square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }

  .game-board {
      border: 3px solid rgb(110, 104, 104);
      margin: 40px 0 0 40px ;
  }
  
  .game-info {
    margin: 40px 0 0 40px;
    width: 300px;
    display: block;
  }

  .game-status {
      font-size: 24px;
      text-align: center;
  }
  